<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title>Học viên xuất sắc - KEC</title>
    <link rel="icon" href="../assets/icon/logo_ver3.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/student_intro_style.css">
</head>

<body>
    <nav>
        <ul class="menu">
            <li>
                <a href="../index.html">Trang Chủ</a>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Giới Thiệu</a>
                <ul class="submenu">
                    <li><a href="../view/teachter_intro.html">Đội Ngũ Giảng Viên</a></li>
                    <li><a href="../view/faq.html">Câu Hỏi Thường Gặp (FAQ)</a></li>
                    <li><a href="../view/contact.html">Liên Hệ</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Đào Tạo</a>
                <ul class="submenu">
                    <li><a href="../view/english_for_kids.html">Tiếng Anh cho trẻ</a></li>
                    <li><a href="#" onclick="event.preventDefault()">IELTS</a>
                        <ul class="sub-submenu">
                            <li><a href="../view/ielts_basic.html">IELTS cơ bản</a></li>
                            <li><a href="../view/ielts_4.0_5.5.html">IELTS 4.0-5.5</a></li>
                            <li><a href="../view/ielts_5.5_6.5.html">IELTS 5.5-6.5</a></li>
                            <li><a href="../view/ielts_6.5+.html">IELTS 6.5+</a></li>
                        </ul>
                    </li>
                    <li><a href="#" onclick="event.preventDefault()">TOEIC</a>
                        <ul class="sub-submenu">
                            <li><a href="../view/toeic_550_650.html">550-650 TOEIC</a></li>
                            <li><a href="../view/toeic_650_800.html">650-800 TOEIC</a></li>
                            <li><a href="../view/toeic_800+.html">800+ TOEIC</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../view/reference.html">Thư viện</a>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Tin Tức</a>
                <ul class="submenu">
                    <li><a href="../view/news.html">Sự Kiện</a></li>
                    <li><a href="../view/student_intro.html">Học Viên Xuất Sắc</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Tài Khoản</a>
                <ul class="submenu">
                    <li><a href="../view/login.html">Đăng Nhập</a></li>
                    <li><a href="../view/signup.html">Đăng Ký</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main class="student-info">
        <div class="element active"><!-- ...các student-container... -->
            <div class="student-container">
                <div class="student-image">
                    <img src="../assets/img/student_1.jpg" alt="Ảnh học viên">
                </div>
                <div class="student-info">
                    <h2>Học viên: Vũ Thành Đạt</h2>
                    <h3>Ngày sinh: 12/12/2000</h3>
                    <ul>
                        <li>985 TOEIC</li>
                        <li>495 Listening</li>
                        <li>490 Reading</li>
                    </ul>
                </div>
            </div>

            <div class="student-container">
                <div class="student-info">
                    <h2>Học viên: Nguyễn Quang Minh</h2>
                    <h3>Ngày sinh: 01/01/2000</h3>
                    <ul>
                        <li>930 TOEIC</li>
                        <li>485 Listening</li>
                        <li>445 Reading</li>
                    </ul>
                </div>
                <div class="student-image">
                    <img src="../assets/img/student_2.png" alt="Ảnh học viên">
                </div>
            </div>

            <div class="student-container">
                <div class="student-image">
                    <img src="../assets/img/student_3.png" alt="Ảnh học viên">
                </div>
                <div class="student-info">
                    <h2>Học viên: Lê Mỹ Quỳnh</h2>
                    <h3>Ngày sinh: 05/09/1998</h3>
                    <ul>
                        <li>880 TOEIC</li>
                        <li>495 Listening</li>
                        <li>385 Reading</li>
                    </ul>
                </div>
            </div>

            <div class="student-container">
                <div class="student-info">
                    <h2>Học viên: Vũ Thị Thanh Thùy</h2>
                    <h3>Ngày sinh: 05/12/2002</h3>
                    <ul>
                        <li>875 TOEIC</li>
                    </ul>
                </div>
                <div class="student-image">
                    <img src="../assets/img/student_4.jpg" alt="Ảnh học viên">
                </div>
            </div>

            <div class="student-container">
                <div class="student-image">
                    <img src="../assets/img/student_5.png" alt="Ảnh học viên">
                </div>
                <div class="student-info">
                    <h2>Học viên: Nguyễn Thị Vân Anh</h2>
                    <h3>Ngày sinh: 26/11/2001</h3>
                    <ul>
                        <li>905 TOEIC</li>
                        <li>450 Listening</li>
                        <li>455 Reading</li>
                    </ul>
                </div>
            </div>

            <div class="student-container">
                <div class="student-info">
                    <h2>Học viên: Nguyễn Thanh Sơn</h2>
                    <h3>Ngày sinh: 02/05/1998</h3>
                    <ul>
                        <li>905 TOEIC</li>
                    </ul>
                </div>
                <div class="student-image">
                    <img src="../assets/img/student_6.jpg" alt="Ảnh học viên">
                </div>
            </div>

            <div class="student-container">
                <div class="student-image">
                    <img src="../assets/img/student_7.jpg" alt="Ảnh học viên">
                </div>
                <div class="student-info">
                    <h2>Học viên: Nguyễn Trung Kiên</h2>
                    <h3>Ngày sinh: 12/09/2000</h3>
                    <ul>
                        <li>8.0 IELTS</li>
                        <li>9.0 Listening</li>
                        <li>9.0 Reading</li>
                        <li>6.5 Writing</li>
                        <li>6.5 Speaking</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>