<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title>Đội ngũ giảng viên - KEC</title>
    <link rel="icon" href="../assets/icon/logo_ver3.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/teacher_intro_style.css">
</head>

<body>
    <nav>
        <ul class="menu">
            <li>
                <a href="../index.html">Trang Chủ</a>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Giới Thiệu</a>
                <ul class="submenu">
                    <li><a href="">Đội Ngũ Giảng Viên</a></li>
                    <li><a href="../view/faq.html">Câu Hỏi Thường Gặp (FAQ)</a></li>
                    <li><a href="../view/contact.html">Liên Hệ</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Đào Tạo</a>
                <ul class="submenu">
                    <li><a href="../view/english_for_kids.html">Tiếng Anh cho trẻ</a></li>
                    <li><a href="#" onclick="event.preventDefault()">IELTS</a>
                        <ul class="sub-submenu">
                            <li><a href="../view/ielts_basic.html">IELTS cơ bản</a></li>
                            <li><a href="../view/ielts_4.0_5.5.html">IELTS 4.0-5.5</a></li>
                            <li><a href="../view/ielts_5.5_6.5.html">IELTS 5.5-6.5</a></li>
                            <li><a href="../view/ielts_6.5+.html">IELTS 6.5+</a></li>
                        </ul>
                    </li>
                    <li><a href="#" onclick="event.preventDefault()">TOEIC</a>
                        <ul class="sub-submenu">
                            <li><a href="../view/toeic_550_650.html">550-650 TOEIC</a></li>
                            <li><a href="../view/toeic_650_800.html">650-800 TOEIC</a></li>
                            <li><a href="../view/toeic_800+.html">800+ TOEIC</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./reference.html" onclick="event.preventDefault()">Thư viện</a>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Tin Tức</a>
                <ul class="submenu">
                    <li><a href="#academic-news">Sự Kiện</a></li>
                    <li><a href="../view/student_intro.html">Học Viên Xuất Sắc</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="event.preventDefault()">Tài Khoản</a>
                <ul class="submenu">
                    <li><a href="../view/login.html">Đăng Nhập</a></li>
                    <li><a href="../view/signup.html">Đăng Ký</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main class="teacher-info">
        <div class="element active"><!-- ...các teacher-container... -->
            <div class="teacher-container">
                <div class="teacher-image">
                    <img src="../assets/img/teacher_thanh_huong.png" alt="Ảnh giảng viên">
                </div>
                <div class="teacher-info">
                    <h2>Cô Nguyễn Thanh Hương</h2>
                    <ul>
                        <li>Thạc sĩ Chuyên ngành Giảng dạy Ngôn ngữ Anh (ĐH Victory - Melbourne Australia)</li>
                        <li>Kinh nghiệm giảng dạy Tiếng Anh và TOEIC: từ 2011-nay</li>
                        <li>Kinh nghiệm biên phiên dịch Tiếng Anh</li>
                    </ul>
                </div>
            </div>
            <!-- Giảng viên: Cô Nguyễn Phan Tường Vi (Cách khác cho điểm số) -->
            <div class="teacher-container">
                <div class="teacher-image">
                    <!-- THAY ĐƯỜNG DẪN ẢNH CHO CÔ TƯỜNG VI -->
                    <img src="../assets/img/teacher_vi.png" alt="Ảnh cô Nguyễn Phan Tường Vi">
                </div>
                <div class="teacher-info">
                    <h2>Cô Nguyễn Phan Tường Vi</h2>
                    <ul>
                        <li>Chuyên Anh, THPT Chuyên Ngoại Ngữ, ĐH Ngoại ngữ, ĐH Quốc Gia Hà Nội</li>
                        <li>Đại học Ngoại Thương - Tốt nghiệp loại Giỏi</li>
                        <li>Phó Chủ tịch CLB Tiếng Anh - Đại học Ngoại Thương</li>
                        <li>Kinh nghiệm giảng dạy và luyện thi Tiếng Anh, TOEIC (970/990) và IELTS (8.0): từ
                            2013-nay
                        </li>
                        <li>Kinh nghiệm phiên dịch Tiếng Anh</li>
                    </ul>
                </div>
            </div>
            <!-- Giảng viên: Cô Nguyễn Thu Hương -->
            <div class="teacher-container">
                <div class="teacher-image">
                    <!-- THAY ĐƯỜNG DẪN ẢNH CHO CÔ THU HƯƠNG (ví dụ: ảnh cô ngồi đọc sách) -->
                    <img src="../assets/img/teacher_thu_huong.png" alt="Ảnh cô Nguyễn Thu Hương">
                </div>
                <div class="teacher-info">
                    <h2>Cô Nguyễn Thu Hương</h2>
                    <ul>
                        <li>Thạc sĩ Chuyên ngành Ngôn Ngữ Anh, ĐH Hà Nội</li>
                        <li>Chứng chỉ Sư phạm, ĐH Quốc Gia Hà Nội</li>
                        <li>Chứng chỉ Quản trị Mạng</li>
                        <li>Chứng chỉ Quan hệ Công chúng</li>
                        <li>Chứng chỉ Google Ads</li>
                        <li>Đang giảng dạy Tiếng Anh tại Học viện Kỹ thuật Mật mã</li>
                        <li>Kinh nghiệm giảng dạy Tiếng Anh: từ 2009-nay</li>
                        <li>Kinh nghiệm phiên dịch Tiếng Anh</li>
                    </ul>
                </div>
            </div>
            <!-- Giảng viên: Cô Phạm Thảo -->
            <div class="teacher-container">
                <div class="teacher-image">
                    <!-- THAY ĐƯỜNG DẪN ẢNH CHO CÔ PHẠM THẢO (ví dụ: ảnh cô ngồi trong quán cafe) -->
                    <img src="../assets/img/teacher_thao.png" alt="Ảnh cô Phạm Thảo">
                </div>
                <div class="teacher-info">
                    <h2>Cô Phạm Thảo</h2>
                    <ul>
                        <li>Thạc sĩ Chuyên ngành Ngôn Ngữ Anh, Đại học Hà Nội</li>
                        <li>Giảng viên Tiếng Anh Đại học Hà Nội: 2009 – nay</li>
                        <li>Kinh nghiệm hoạt động tại nhiều sự kiện quốc tế lớn (International Mathematical
                            Olympiads,
                            Asian Wetland symposium, Glocal 2007, 17<sup>th</sup> ASEAN Conference of Cardiology,
                            Italian Business Meeting for New Partnership, ...)</li>
                        <li>Kinh nghiệm phiên dịch Tiếng Anh</li>
                    </ul>
                </div>
            </div>
            <!-- Giảng viên: Cô Vũ Thị Hoàng Yến -->
            <div class="teacher-container">
                <div class="teacher-image">
                    <!-- THAY ĐƯỜNG DẪN ẢNH CHO CÔ HOÀNG YẾN (ảnh chân dung rõ mặt) -->
                    <img src="../assets/img/teacher_yen.png" alt="Ảnh cô Vũ Thị Hoàng Yến">
                </div>
                <div class="teacher-info">
                    <h2>Cô Vũ Thị Hoàng Yến</h2>
                    <ul>
                        <li>Thạc sĩ Chuyên ngành Ngôn Ngữ Anh, Đại học Hà Nội</li>
                        <li>Giảng viên Tiếng Anh Đại học Hà Nội: 2009 – nay</li>
                        <li>Kinh nghiệm hoạt động tại nhiều sự kiện quốc tế lớn (11<sup>th</sup> WLN meeting, APEC
                            Leaders’ Week, The 13<sup>th</sup> ASEAN University Games,...)</li>
                        <li>Thành viên của một số dự án quốc tế: Vietnam Fund for Safe Water and Environment
                            Sanitation
                            (VNWEEF), Center for Community Health Promotion (CHP)</li>
                        <li>Kinh nghiệm giảng dạy Tiếng Anh: 2003 - nay</li>
                        <li>Kinh nghiệm phiên dịch Tiếng Anh</li>
                    </ul>
                </div>
            </div>
            <!-- Giảng viên: Cô Phạm Minh Thúy -->
            <div class="teacher-container">
                <div class="teacher-image">
                    <!-- THAY ĐƯỜNG_DẪN_ẢNH_CHO_CÔ_MINH_THÚY (ví dụ: ảnh cô đọc sách) -->
                    <img src="../assets/img/teacher_thuy.png" alt="Ảnh cô Phạm Minh Thúy">
                </div>
                <div class="teacher-info">
                    <h2>Cô Phạm Minh Thúy</h2>
                    <ul>
                        <li>Tốt nghiệp ĐH Ngoại ngữ - ĐHQG, chuyên ngành Ngôn ngữ Anh</li>
                        <li>Tốt nghiệp ĐH Khoa học Xã hội Nhân Văn, chuyên ngành Quốc tế học</li>
                        <li>Giải Ba cuộc thi “Ideas Explosion”, ĐH Kinh tế, ĐH Quốc gia</li>
                        <li>Trưởng ban PR CLB Tiếng Anh, ĐH Ngoại ngữ - ĐH Quốc gia</li>
                        <li>Kinh nghiệm giảng dạy Tiếng Anh: 2013 – nay (American Academy, WOW English, Educare)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>